<div class="header-wrapper">
  <div class="container">
      <div class="d-none d-sm-block d-sm-none d-md-block">
          <div class="laptop-header-wrapper">
              <div class="login-wrapper">
                  <img src="assets/images/logo.png">
                  <div class="desc">
                    <div>ShowMine</div>
                    <div>秀脉-实惠看得见</div>
                  </div>
                </div>
                <div class="search-wrapper">
                  search
                </div>
                <div class="language-wrapper">
                  language
                </div>
          </div>
        </div>
  </div>
  <div class="mobile-header-wrapper d-block d-sm-none d-md-none">
    d-modsad
  </div>
</div>
